:root {
  --white: white;
  --black: black;
}

.nav_component {
  background-color: #121514;
  border-bottom: 1px solid #343434;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.section_hero {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-large {
  max-width: 1200px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hero_heading {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 70px;
}

.hero_content {
  padding-left: 33px;
  padding-right: 33px;
}

.hero_grid {
  width: 100%;
  height: 578px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid #343434;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.button_primary {
  width: 166px;
  height: 56px;
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  transition: all .4s;
  display: flex;
}

.button_primary:hover {
  opacity: .5;
}

.button_primary.mobile-menu-cta {
  transition: all .4s;
}

.button_primary.mobile-menu-cta:hover {
  opacity: .5;
}

.body {
  color: #fff;
  font-family: Inter, sans-serif;
}

.spacer-small {
  height: 55px;
}

.nav_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_menu_link {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  font-size: 23px;
  font-weight: 700;
}

.nav_menu {
  width: auto;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  display: flex;
}

.button_secondary {
  width: 142px;
  height: 56px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #343434;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  transition: all .4s;
  display: flex;
}

.button_secondary:hover {
  opacity: .8;
  border-color: #fff;
}

.nav_menu-wrapper {
  width: 50%;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  display: flex;
}

.nav_menu-cta {
  width: 50%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav_item {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .4s;
  display: flex;
}

.nav_item:hover {
  opacity: .5;
  border-bottom-style: none;
  border-bottom-width: 1px;
}

.text-block {
  color: #fff;
  font-size: 58px;
  font-weight: 300;
  display: none;
  position: absolute;
  top: 37%;
  bottom: 0%;
  left: 505px;
  right: 4%;
}

.hero_text-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.hero_cta-wrapper {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  display: flex;
}

.content-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-bold {
  height: auto;
  color: #acacac;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.spacer-tiny {
  height: 18px;
}

.hero_image-wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.image {
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
  border-left: 1px solid #343434;
}

.brand {
  padding-left: 0;
  transition: all .4s;
}

.brand:hover {
  transform: scale(1.1);
}

.button_secondary-mobile {
  width: 142px;
  height: 56px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #343434;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  display: none;
}

.button_primary-mobile {
  width: 166px;
  height: 56px;
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  display: flex;
}

.button_primary-mobile.mobile-menu-cta {
  display: none;
}

.design-slide-card {
  width: 310px;
  height: 340px;
  min-width: 310px;
  background-color: #ddbfbf;
  background-image: url('../images/Frame-34652.jpg');
  background-size: auto;
  border-radius: 6px;
}

.design-slide-card.design-4 {
  background-image: url('../images/original-60f9e5e88897e3bae9154766ae028f8f.jpg');
  background-position: 50%;
  background-size: cover;
}

.design-slide-card.design-3 {
  background-image: url('../images/Frame-34791.jpg');
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-slide-card.design-2 {
  background-image: url('../images/hDribbble-shot-HD---1.jpg');
  background-position: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-slide-card.design-5 {
  background-image: url('../images/Frame-1171274581.jpg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-slide-card.design-6 {
  background-image: url('../images/m1.jpg');
  background-size: cover;
}

.design-slide-card.design-7 {
  background-image: url('../images/hDribbble-shot-HD---1.jpg');
  background-position: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-slide-card.design-1 {
  background-image: url('../images/original-60f9e5e88897e3bae9154766ae028f8f.jpg');
  background-position: 50%;
  background-size: cover;
}

.recent-work-button {
  width: 208px;
  height: 55px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.recent-work-button:hover {
  opacity: .5;
}

.text-block-2 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.text-block-3 {
  width: auto;
  color: #dad6d6;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 163%;
}

.div-block-3 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section_testimonials {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.designs-slider {
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
}

.section_design-slides {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.padding-testing {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.div-block-5-copy {
  width: auto;
  height: auto;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0%;
  display: flex;
  overflow: hidden;
}

.logo-grid {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.design-wrapper {
  width: 100%;
  height: 498px;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
  overflow: hidden;
}

.process-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.heading-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.process-card-container {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.div-block-6 {
  width: 434px;
  height: 350px;
  background-color: #242928;
  border-radius: 8px;
}

.middle-logo-wrapper {
  width: 33.33%;
  height: 437px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/large-background-logo.svg');
  background-position: 48%;
  background-repeat: no-repeat;
  background-size: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #dac5c5;
}

.image-3 {
  transition: all .4s;
  position: absolute;
  left: auto;
}

.image-3:hover {
  transform: scale(1.1);
}

.div-block-7 {
  height: 20%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.div-block-8 {
  width: 100%;
  height: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-9 {
  width: auto;
  height: 30px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(142, 142, 142, .8);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 16px;
  display: flex;
}

.queue-tag-text {
  font-size: 14px;
  font-weight: 700;
}

.queue-item {
  width: 90%;
  height: 50px;
  background-color: #373b3a;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 11px;
  padding-right: 11px;
  transition: all .4s;
  display: flex;
}

.queue-item:hover {
  opacity: .8;
}

.queue-task {
  font-weight: 700;
}

.request-tag {
  width: auto;
  height: 30px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 14px;
  display: flex;
}

.section_process {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-12 {
  width: 100%;
  height: 260px;
  background-image: url('../images/Dribbble-shot-HD---2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  transition: opacity .4s;
}

.div-block-12:hover {
  opacity: .8;
}

.div-block-8-copy {
  width: 100%;
  height: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.section_faq {
  background-color: #121514;
  border-bottom: 1px solid #343434;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.tabs-menu {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.tab-link-tab-1 {
  width: 136px;
  height: 56px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  display: flex;
}

.tab-link-tab-1:hover {
  opacity: .5;
  border: 1px #fff;
}

.tab-link-tab-1.w--current {
  width: 136px;
  height: 56px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab-link-tab-2 {
  width: 136px;
  height: 56px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: opacity .4s;
  display: flex;
}

.tab-link-tab-2:hover {
  opacity: .5;
}

.tab-link-tab-2.w--current {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.tab-link-tab-3 {
  width: 136px;
  height: 56px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: opacity .4s;
  display: flex;
}

.tab-link-tab-3:hover {
  opacity: .5;
}

.tab-link-tab-3.w--current {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.tab-card-wrapper {
  width: 790px;
  height: 371px;
  background-color: #1d2120;
  border-radius: 22px;
  padding: 0;
  display: flex;
}

.text-block-6 {
  font-size: 26px;
  font-weight: 700;
}

.tab_card-content {
  width: 50%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  padding: 40px;
  display: flex;
}

.tab_card-image {
  width: 50%;
  background-image: url('../images/Frame-1171274590.jpg');
  background-position: 37%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #343434;
  border-radius: 22px;
}

.tab_card-image.products-image {
  background-image: url('../images/Frame-34791.jpg');
}

.div-block-16 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-block-7 {
  font-size: 19px;
  font-weight: 700;
}

.heading-2-copy {
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.section_subscription {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.subscription-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.subscription-card {
  width: 889px;
  height: 572px;
  grid-column-gap: 54px;
  grid-row-gap: 54px;
  background-color: #252928;
  background-image: url('../images/subscription-bg-logo.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 21.13px;
  padding: 40px;
  display: flex;
}

.contacts-wrapper {
  width: 50%;
  height: 100%;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.subscription-wrapper {
  width: 50%;
  height: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px;
  display: flex;
}

.contact-card {
  width: 90%;
  height: 140px;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  color: #fff;
  background-color: #373b3a;
  border-radius: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
  position: relative;
}

.contact-card:hover {
  opacity: .5;
}

.contact_card-header {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}

.image-4 {
  position: absolute;
  top: 40%;
  bottom: 0%;
  left: auto;
  right: 4%;
}

.text-block-9 {
  font-size: 26px;
  font-weight: 700;
}

.div-block-17 {
  width: 75px;
  height: 30px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-10 {
  font-weight: 700;
}

.subscription-header {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.subscription-price {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.div-block-19 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.subscription-bulletpoints {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.webflow-dev-addon {
  height: 66.95px;
  background-color: #1b1b1b;
  border-radius: 7px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: none;
}

.div-block-22 {
  width: 84.8px;
  height: 30.53px;
  background-color: rgba(42, 181, 106, .2);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.addon-toggle {
  width: 45px;
  height: 24.42px;
  background-color: #363f3d;
  border-radius: 32px;
  justify-content: flex-end;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
}

.div-block-24 {
  width: 19.69px;
  height: 19.69px;
  background-color: #fcfffe;
  border-radius: 300px;
}

.text-block-12 {
  color: #16ff8f;
  font-weight: 700;
}

.div-block-25 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-13 {
  font-size: 16px;
  font-weight: 600;
}

.button {
  width: 100%;
  height: 60px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  transition: all .4s;
  display: flex;
}

.button:hover {
  color: #fff;
  background-color: #1d1f1f;
  border: 1px solid #fff;
}

.faq-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  background-color: #121514;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.div-block-26 {
  width: 100%;
  height: 1px;
}

.faq-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.faq-paragraph {
  width: 889px;
  color: #fff;
  letter-spacing: -.03em;
  margin-bottom: 0;
  padding: 0 15px 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.question-title {
  letter-spacing: -.03em;
  margin-right: 10px;
}

.faq-circle {
  width: 55px;
  height: 55px;
  min-height: 55px;
  min-width: 55px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.faq-question-bar {
  width: 889px;
  height: 97px;
  color: #fff;
  background-color: #252928;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-radius: 21px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 30px 42px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.faq-question-bar:hover {
  opacity: .5;
}

.faq-question-wrap {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  cursor: pointer;
  flex-flow: column;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.faq-content {
  overflow: hidden;
}

.section_services, .section_footer {
  background-color: #121514;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-design-card {
  width: 100%;
  height: 313px;
  max-width: 434px;
  background-color: #c9acac;
  background-image: url('../images/Frame-34789.jpg');
  background-position: 0 0;
  background-size: cover;
  border-radius: 21px;
}

.footer-design-card.footer-card-1 {
  background-image: url('../images/Dribbble-shot-HD---2.jpg');
}

.footer-design-card.footer-card-2 {
  background-image: url('../images/Frame-34791.jpg');
}

.footer-design-card.footer-card-3 {
  background-image: url('../images/hDribbble-shot-HD---1.jpg');
}

.footer-design-card.footer-card-4 {
  background-image: url('../images/Desktop---12.jpg');
}

.footer-design-card.footer-card-5 {
  background-image: url('../images/Frame-34789.jpg');
}

.footer-design-card.footer-card-6 {
  background-image: url('../images/original-60f9e5e88897e3bae9154766ae028f8f.jpg');
}

.footer_bottom {
  width: 100%;
  height: auto;
  max-width: 1240px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #121514;
  border-left: 1px #343434;
  border-right: 1px #343434;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 19px;
  display: flex;
  overflow: hidden;
}

.link-block-2 {
  color: #c6c5c5;
  text-decoration: none;
}

.text-block-14 {
  color: #c6c5c5;
}

.div-block-29 {
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  display: flex;
}

.container-full-footer {
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
}

.footer-designs-grid {
  width: 100%;
  max-width: 1346px;
  min-width: 1346px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 8px;
  display: grid;
  position: relative;
  overflow: hidden;
}

.dark-bg-overlay {
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 21px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: absolute;
}

.text-block-15 {
  width: 639px;
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: 60px;
}

.text-block-16 {
  font-size: 16px;
  font-weight: 500;
}

.button-2 {
  width: 315px;
  height: 56px;
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  transition: all .4s;
  display: flex;
}

.button-2:hover {
  color: #fff;
  background-color: #111;
  border: 1px solid #fff;
}

.tab_card-heading {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-flow: column;
  display: flex;
}

.div-block-31 {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  flex-flow: column;
  display: flex;
}

.tab-bulletpoint-text {
  font-size: 16px;
  font-weight: 600;
}

.tab_card-bulletpoints {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  flex-flow: column;
  display: flex;
}

.text-block-17 {
  font-size: 16px;
}

.tab_card-imagery {
  width: 50%;
  background-image: url('../images/original-60f9e5e88897e3bae9154766ae028f8f.jpg');
  background-position: 37%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #343434;
  border-radius: 22px;
}

.contact_card-text {
  width: 80%;
  font-style: normal;
  font-weight: 500;
}

.content_card-text {
  width: 80%;
  font-weight: 500;
}

.text-block-20 {
  font-size: 18px;
  font-weight: 600;
}

.text-block-21 {
  color: #d4dfe8;
  font-weight: 600;
}

.live-tag {
  width: auto;
  height: 30px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(142, 142, 142, .8);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 16px;
  display: flex;
}

.text-size-medium-copy {
  width: 556px;
  color: #dad6d6;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
}

.howitworks-text-copy {
  width: auto;
  color: #dad6d6;
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 163%;
}

.div-block-32 {
  margin-bottom: 55px;
}

.circle-greeen-lottie {
  width: 30px;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.circle-red-lottie {
  width: 30px;
  height: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lottie-animation-hero {
  width: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.email-block {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 991px) {
  .padding-global {
    width: 100%;
  }

  .hero_heading {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .hero_content {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button_primary {
    height: 50px;
    min-width: 166px;
    font-size: 16px;
  }

  .nav_container {
    justify-content: space-between;
    align-items: center;
  }

  .nav_menu_link {
    font-size: 16px;
  }

  .nav_menu {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .button_secondary {
    height: 50px;
    font-size: 16px;
  }

  .nav_menu-wrapper {
    width: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .nav_menu-cta {
    width: auto;
  }

  .text-block {
    font-size: 2.5rem;
    top: 29%;
    left: 324px;
  }

  .hero_cta-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .content-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .image {
    object-fit: cover;
  }

  .icon {
    font-size: 35px;
  }

  .image-2 {
    min-height: 56px;
    min-width: 59px;
  }

  .button_secondary-mobile {
    height: 50px;
    font-size: 16px;
  }

  .button_primary-mobile {
    height: 50px;
    min-width: 166px;
    font-size: 16px;
  }

  .text-block-3 {
    width: 700px;
    margin-bottom: 20px;
  }

  .div-block-5-copy, .process-container {
    justify-content: center;
    align-items: center;
  }

  .process-card-container {
    flex-flow: column;
  }

  .middle-logo-wrapper {
    width: 100%;
    height: 140px;
  }

  .line {
    width: 5px;
    height: 100%;
  }

  .image-3 {
    left: auto;
  }

  .services-container {
    justify-content: center;
    align-items: center;
  }

  .tab-card-wrapper {
    width: 100%;
  }

  .subscription-container {
    justify-content: center;
    align-items: center;
  }

  .subscription-card {
    width: 95%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .faq-container {
    justify-content: center;
    align-items: center;
  }

  .faq-wrapper, .faq-question-bar {
    width: 100%;
  }

  .faq-question-wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_bottom {
    justify-content: space-between;
    align-items: center;
  }

  .container-full-footer, .dark-bg-overlay {
    overflow: hidden;
  }

  .text-block-15 {
    width: 570px;
    font-size: 42px;
  }

  .tabs {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-size-medium-copy, .howitworks-text-copy {
    width: auto;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero_heading {
    text-align: center;
  }

  .hero_content {
    width: auto;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    display: flex;
  }

  .hero_grid {
    height: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    padding-bottom: 10px;
  }

  .button_primary {
    width: auto;
  }

  .spacer-small {
    height: 24px;
  }

  .nav_menu {
    display: none;
  }

  .text-block {
    text-align: center;
  }

  .hero_cta-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .hero_image-wrapper {
    width: 50%;
    object-fit: fill;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 6px;
  }

  .button_primary-mobile {
    width: auto;
  }

  .text-block-3 {
    width: auto;
    font-size: 1rem;
  }

  .padding-testing {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: center;
    display: grid;
  }

  .process-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .heading-2 {
    text-align: center;
  }

  .process-card-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  .div-block-6 {
    width: 95%;
    max-width: 434px;
  }

  .services-container {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tab-link-tab-1, .tab-link-tab-1.w--current {
    width: 100px;
  }

  .tab-link-tab-1.w--current:hover {
    opacity: 1;
  }

  .tab-link-tab-2 {
    width: 100px;
  }

  .tab-link-tab-2.w--current:hover {
    opacity: 1;
  }

  .tab-link-tab-3 {
    width: 100px;
  }

  .tab-link-tab-3.w--current:hover {
    opacity: 1;
  }

  .tab-card-wrapper {
    height: auto;
    flex-flow: column;
  }

  .tab_card-content {
    width: 100%;
  }

  .tab_card-image {
    width: 100%;
    height: 339px;
  }

  .heading-2-copy {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  .subscription-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .subscription-card {
    height: auto;
    flex-flow: column-reverse;
  }

  .contacts-wrapper {
    width: 100%;
  }

  .subscription-wrapper {
    width: 100%;
    height: 50%;
  }

  .faq-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .faq-paragraph {
    width: 100%;
  }

  .footer_bottom {
    flex-flow: column;
  }

  .text-block-15 {
    width: 96vw;
    max-width: 550px;
    line-height: 48px;
  }

  .tab_card-imagery {
    width: 100%;
    height: 339px;
  }

  .text-size-medium-copy {
    width: 90%;
    text-align: center;
  }

  .howitworks-text-copy {
    width: 90%;
    text-align: center;
    line-height: 26px;
  }

  .div-block-32 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-5 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav_component {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .padding-global {
    padding-left: .8rem;
    padding-right: .8rem;
  }

  .hero_heading {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .hero_content {
    padding-top: 30px;
  }

  .hero_grid {
    padding-bottom: 30px;
  }

  .button_primary {
    width: 100%;
  }

  .button_primary.mobile-menu-cta {
    width: 100%;
    display: none;
  }

  .nav_container {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    position: relative;
  }

  .nav_menu_link {
    margin-left: 0;
    margin-right: 0;
  }

  .nav_menu {
    height: 310px;
    background-color: #1b1f1d;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .button_secondary {
    width: 100%;
    margin-bottom: 12px;
    display: none;
  }

  .nav_menu-cta {
    width: 80%;
    background-color: #181a19;
    justify-content: center;
    align-items: center;
    display: none;
    position: static;
    top: 270px;
    bottom: 0%;
    left: 13px;
    right: 35px;
  }

  .nav_item {
    width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .text-block {
    left: 320px;
  }

  .text-bold {
    font-size: 14px;
  }

  .hero_image-wrapper {
    width: 80%;
  }

  .menu-button, .menu-button.w--open {
    background-color: #121514;
  }

  .button_secondary-mobile {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
  }

  .button_primary-mobile.mobile-menu-cta {
    width: 100%;
    display: flex;
  }

  .text-block-3 {
    font-size: 1rem;
  }

  .padding-testing {
    padding-left: .8rem;
    padding-right: .8rem;
  }

  .div-block-5-copy {
    width: 100%;
  }

  .process-container {
    width: 100%;
    margin-left: .8rem;
    margin-right: .8rem;
  }

  .heading-2 {
    text-align: center;
  }

  .div-block-7 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .div-block-9 {
    width: 133px;
    padding-right: 16px;
  }

  .queue-tag-text, .queue-task {
    font-size: 11px;
  }

  .services-container {
    width: 100%;
    margin-left: .8rem;
    margin-right: .8rem;
  }

  .tabs-menu {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .tab-link-tab-1, .tab-link-tab-1.w--current, .tab-link-tab-2, .tab-link-tab-3 {
    width: 30%;
    height: 40px;
  }

  .tab-card-wrapper {
    width: 100%;
  }

  .text-block-6 {
    text-align: center;
    line-height: 32px;
  }

  .tab_card-content {
    padding: 24px 16px;
  }

  .text-block-7 {
    font-size: 14px;
  }

  .heading-2-copy {
    text-align: center;
  }

  .subscription-container {
    width: 100%;
  }

  .subscription-card {
    padding-left: 12px;
    padding-right: 12px;
  }

  .contact-card {
    width: auto;
    height: auto;
  }

  .text-block-9 {
    font-size: 22px;
  }

  .subscription-price {
    font-size: 31px;
  }

  .faq-container {
    width: 100%;
  }

  .faq-paragraph {
    font-size: 1rem;
  }

  .question-title {
    flex: 1;
    font-size: 1rem;
  }

  .faq-question-bar {
    height: auto;
    padding: 8px 8px 8px 16px;
  }

  .footer_bottom {
    width: 100%;
  }

  .text-block-15 {
    width: 90vw;
    font-size: 30px;
    line-height: 37px;
  }

  .text-block-16 {
    width: 216px;
    text-align: center;
  }

  .button-2 {
    width: 90vw;
    max-width: 315px;
  }

  .tabs {
    width: 100%;
  }

  .text-block-17 {
    text-align: center;
  }

  .text-size-medium-copy, .howitworks-text-copy {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .image-5 {
    padding-left: 10px;
  }
}

#w-node-d5859add-960e-ced1-27b8-9a4fab425542-68df68cf {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 767px) {
  #w-node-d5859add-960e-ced1-27b8-9a4fab425542-68df68cf {
    grid-area: 1 / 1 / 2 / 2;
  }
}


